/*** vuejs ***/
[v-cloak] {
  display: none;
}

/*** Utilities ****/
/****** Centrar ******/
.grid-center-container {
  display: table;
  width: 100%;
  height: 100%;
}

.grid-center-content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.grid-center-content > * {
  display: inline-block;
  float: none !important;
}

.grid-center-content-vertical {
  display: table-cell;
  vertical-align: middle;
}

.grid-center-content-horizontal {
  text-align: center;
}

.grid-center-content-horizontal > * {
  display: inline-block;
  float: none !important;
}

/*** clean ***/
.row {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0;
}

/*** General ***/
h1, h2, h3, h4, h5, p {
  font-family: 'Roboto Mono', monospace;
}

/***
     Como usar algunas de las utilidades que he dejado en sass
***/
