//text
$text-xs: 10px;
$text-s: 12px;
$text-m: 14px;
$text-l: 16px;
$text-xl: 20px;


//media querys
$break-xs: 320px;
$break-s: 480px;
$break-m: 768px;
$break-l: 992px;
$break-xl: 1200px;

/*** vuejs ***/
[v-cloak] {
     display: none
}

/*** Utilities ****/
%center-background {
     background: no-repeat center center;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
}

/****** Centrar ******/
.grid-center-container {
     display: table;
     width: 100%;
     height: 100%;
}

.grid-center-content{
     display: table-cell;
     vertical-align: middle;
     text-align: center;
     > * {
          display: inline-block;
          float: none !important;
     }
}

.grid-center-content-vertical {
     display: table-cell;
     vertical-align: middle;
}

.grid-center-content-horizontal {
     text-align: center;
     > * {
          display: inline-block;
          float: none !important;
     }
}


/*** clean ***/
.row {
     margin: 0;
     padding: 0;
}
h1, h2, h3, h4, h5, p {
     margin: 0;
     padding: 0;
}


/*** General ***/
h1, h2, h3, h4, h5, p {
     font-family: 'Roboto Mono', monospace;  // TODO: Set font
}




/***
     Como usar algunas de las utilidades que he dejado en sass
***/
//media query example
//@media screen and (max-width: $break-l) {
//     font-size: $text-big-m;
//}
//@media screen and (max-width: $break-m) {
//     font-size: $text-big-s;
//}


//Extend example
//%center-background {
//     background: no-repeat center center;
//     -webkit-background-size: cover;
//     -moz-background-size: cover;
//     -o-background-size: cover;
//     background-size: cover;
//}
//header {
//     @extend %center-background;
//}







